<h2 class="pageHeading">Remove User</h2>

<div class="yui-g">
  
  <p>
    Do you want to remove <strong><%= @connection.connected_user.login %></strong> from your network?
  </p>
  
  <% form_for [current_user, @connection], :html => { :class => 'delete_connection', :id => "delete_connection_#{@connection.id}", :method => :delete } do |form| %>
    <p>
      <%= form.error_messages %>
    </p>
    <p>
      <%= submit_tag 'Yes' %>
      <%= submit_tag 'No' %>
    </p>
  <% end %>

</div>