<h2 class="pageHeading">Add User</h2>

<div class="yui-g">
  
  <p>
    Do you want to add <strong><%= @connected_user.login %></strong> to your network?
  </p>
  
  <% form_for [@connected_user, @connection] do |form| %>
    <p>
      <%= form.error_messages %>
    </p>
    <p>
      <%= form.submit 'Yes' %>
      <%= form.submit 'No' %>
    </p>
  <% end %>

</div>