log/*.log
db/*.sqlite3
db/schema.rb
config/database.yml
public/stylesheets/all.css
public/system
tmp
vendor/gems/hpricot-0.8.1/ext/fast_xs/Makefile
vendor/gems/hpricot-0.8.1/ext/fast_xs/fast_xs.bundle
vendor/gems/hpricot-0.8.1/ext/fast_xs/fast_xs.o
vendor/gems/hpricot-0.8.1/ext/fast_xs/mkmf.log
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/Makefile
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/conftest.dSYM/
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_css.o
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_scan.bundle
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_scan.o
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/mkmf.log
vendor/gems/hpricot-0.8.1/lib/fast_xs.bundle
vendor/gems/hpricot-0.8.1/lib/hpricot_scan.bundle
