<h2>Downloads</h2>

The Installd client keeps your account on installd.com up-to-date with the applications installed on your system :-

<h3>Mac OS X</h3>

<%= link_to 'Download', '/system/sparkle/index.php' %>