<h2>Downloads</h2>

<div class="yui-g">
  
  <p>
    The <em>installd</em> client keeps your account on installd.com up-to-date with the applications installed on your system.
  </p>
  
  <h3>Mac OS X</h3>
  
  <p>
    <%= link_to 'Download', '/system/sparkle/index.php' %>
  </p>
  
  <h3>Windows</h3>
  
  <p>
    Not yet available.
  </p>
  
  <h3>Linux</h3>
  
  <p>
    Not yet available.
  </p>

</div>