<h2>Downloads</h2>

<div class="yui-g">
  
  <p>
    The installd client application keeps your account on installd.com up-to-date with the applications installed on your system.
  </p>
  
  <ul>
    <li>
      <%= link_to 'Macintosh', mac_downloads_path %>
    </li>
    <li>
      <%= link_to 'Linux', linux_downloads_path %>
    </li>
    <li>
      <%= link_to 'Windows', windows_downloads_path %>
    </li>
  </ul>
  
</div>