<h2 class="pageHeading">Downloads</h2>

<div class="yui-g">
  
  <h3>Instructions</h3>
  
  <ul>
    <li>
      The Preference Pane currently requires Mac OSX (at least version 10.5 Leopard)
    </li>
    <li>
      <%= link_to 'Sign Up', new_user_path %> and activate your account if you have not already done so.
    </li>
    <li>
      <%= link_to 'Download', '/system/prefpane-sparkle/index.php' %> &amp; install the Preference Pane (double-click Installd.prefpane).
    </li>
    <li>
      Set your username and password in the Preference Pane.
    </li>
    <li>
      Click 'Sync Now' to synchronize your applications so that they appear on <%= link_to 'installd.com', root_path %>.
    </li>
    <li>
      The Preference Pane will automatically synchronize your applications once a day.
    </li>
  </ul>
  
  <p>
    <%= link_to(image_tag('dmg.png'), '/system/prefpane-sparkle/index.php') %>
  </p>

</div>