strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1.siteTitle {
  font-size: 300%;
  font-weight: bold;
  float: left;
}

h1.siteTitle a {
  background: #FFFFFF url(/images/logo.png) no-repeat scroll 0 0;
  padding-left: 34px;
  display: inline;
  text-decoration: none;
  color: #000000;
}

#userSession {
  padding: 10px 10px;
  display: inline;
  float: right;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

#navigation {
  clear:left ;
}

.flashNotice {
  font-size: 125%;
  color: green;
  margin: 10px 0 0 0;
}

p {
  margin: 10px 0 10px 0;
}

h2 {
  font-size: 150%;
  margin: 10px 0 10px 0;
}

h2#user {
  float: left;
}

.yui-gb {
  clear: left;
}

h3 {
  font-size: 120%;
}

ul.installs {
  list-style-type: none;
}

li.install {
  border-top: 1px solid #999999;
}

li.install.last {
  border-bottom: 1px solid #999999;
}

li.install a.appIcon {
  margin: 10px 10px 10px 10px;
  float: left;
}

li.install a.appIcon img {
  border: 0;
}

li.install h3.appName {
  margin-top: 10px;
  white-space: nowrap;
}

li.install p.installed {
  height: 30px;
  margin: 22px 0 0 0;
  white-space: nowrap;
}

.pagination {
  text-align: center;
  margin: 10px 0 10px 0;
}

#ft {
  border-top: 1px solid #999999;
  padding: 1em 0 1em 0;
  text-align: center;
}

#networking {
  margin: 15px 0 0 10px;
  float: left;
}

#app a.appIcon {
  margin: 10px 10px 10px 10px;
  float: left;
}

#app a.appIcon img {
  border: 0;
}

#app h2.appName {
  padding-top: 45px;
  white-space: nowrap;
}

table {
  border: 1px solid #999;
}

th {
  border: 1px solid #999;
  padding: 5px;
}

td {
  border: 1px solid #999;
  padding: 5px;
}