ul {
  padding: 5px 0 5px 20px;
}

li {
  list-style-type: disc;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1.siteTitle {
  font-size: 300%;
  font-weight: bold;
  float: left;
}

h1.siteTitle a {
  background: #FFFFFF url(/images/logo.png) no-repeat scroll 0 0;
  padding-left: 34px;
  display: inline;
  text-decoration: none;
  color: #000000;
}

#userSession {
  padding: 10px 10px;
  display: inline;
  float: right;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

#navigation {
  clear: both;
}

.flashNotice {
  font-size: 125%;
  color: green;
  margin: 10px 0 0 0;
}

p {
  margin: 10px 0 10px 0;
}

h2 {
  font-size: 150%;
}

h2.pageHeading {
  margin: 10px 0 10px 0;
}

.yui-gb {
  clear: both;
}

h3 {
  font-size: 120%;
}

.install {
  border-top: 1px solid #999999;
  list-style-type: none;
  clear: both;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
}

.install.last {
  border-bottom: 1px solid #999999;
}

.install .appIcon {
  float: left;
}

.install .appIcon img {
  border: 0;
}

.install .heading {
  padding-left: 10px;
  overflow: hidden;
}

.install .rating {
  margin-top: 3px;
}

.install .rating input {
  float: left;
  margin: 2px 2px 2px 2px;
}

.install .rating .progress {
  float: left;
  padding-left: 3px;
  display: none;
}

.install .buy {
  float: right;
  margin-top: 3px;
}

.install .details {
  clear: left;
  overflow: hidden;
}

.install .details p {
  margin: 2px 0px 2px 0px;
}

.app {
  padding: 10px 10px 10px 10px;
}
 
.app .appIcon {
  float: left;
}

.app .appIcon img {
  border: 0;
}

.app .heading {
  float: left;
  padding-left: 10px;
}

.app .details {
  clear: left;
}

.innerFooter {
  padding: 10px 0 10px 0;
}

.innerFooter .pagination {
  text-align: center;
}

#ft {
  border-top: 1px solid #999999;
  padding: 1em 0 1em 0;
  text-align: center;
}

#networking {
  margin: 15px 0 0 10px;
  float: left;
}

table {
  border: 1px solid #999;
}

th {
  border: 1px solid #999;
  padding: 5px;
}

td {
  border: 1px solid #999;
  padding: 5px;
}

.trademarks {
  font-size: 80%;
}