<h2>Sign Up</h2>

<p>
  Installd is currently in an invite-only beta, which means you need to have an invitation token to access the service.
</p>
<p>
  Sign up here and we will send you an invitation token as soon as we can.
</p>

<%- form_for @user do |form| -%>
  <p>
    <%= form.error_messages %>
  </p>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.submit "Submit" %>
  </p>
<%- end -%>
