<h2><%= h(@user.login) %></h2>

<%- if current_user -%>
  <%- if current_user.can_make_friends?(@user) -%>
  <p>
    <%= link_to 'Add as Friend', new_user_friendship_path(@user) %>
  </p>
  <%- elsif current_user.already_friends?(@user) -%>
  <p>
    You are friends with this user.
  </p>
  <%- end -%>
<%- end -%>

<p>
  <%= link_to 'Installed Applications', user_installs_path(@user) %>
</p>

<p>
  <%= link_to 'Applications Installed by Friends', user_friends_installs_path(@user) %>
</p>
