<table class="apps">
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%- @user.installs.each do |install| -%>
    <%- app = install.app -%>
    <tr class="app">
      <td class="icon">
        <%= link_to image_tag(app.icon_url), app.url %>
      </td>
      <td class="name">
        <%= link_to app.name, app.url %>
      </td>
    </tr>
    <%- end -%>
  </tbody>
</table>