<h2>Apps Installed</h2>

<ul class="installs">
  <%- @installs.each do |install| -%>
    <%- app = install.app -%>
      <li class="install">
        <span class="app"><%= link_to image_tag(app.icon_url), app.url, :class => 'icon' %> <%= link_to app.name, app.url, :class => 'name' %></span>
      </li>
  <%- end -%>
</ul>

<%= will_paginate @installs %>