<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css"/>
<% end %>

<h2>Popular Apps</h2>

<div class="yui-gb">
  <% @apps.each_slice(5) do |apps| %>
    <% first = (apps.first == @apps.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% apps.each do |app| %>
          <% last = (app == apps.last) ? ' last' : '' %>
          <%= render :partial => app, :locals => { :last => last } %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= will_paginate @apps %>
