<% content_for :links do %>
  <%= render :partial => '/shared/rss' %>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css"/>
<% end %>

<h2 class="pageHeading">Recent Apps</h2>

<div class="yui-gb">
  <% @installs.each_slice(5) do |installs| %>
    <% first = (installs.first == @installs.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% installs.each do |install| %>
          <% last = (install == installs.last) ? ' last' : '' %>
          <%= render :partial => install , :locals => { :last => last } %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="innerFooter">
  <%= will_paginate @installs %>
</div>
