<% content_for :head do %>
  <%= render :partial => '/shared/rss' %>
  
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css"/>
<% end %>

<h2>Recent Apps</h2>

<div class="yui-gb">
  <% @installs.each_slice(5) do |installs| %>
    <% first = (installs.first == @installs.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% installs.each do |install| %>
          <% last = (install == installs.last) ? ' last' : '' %>
          <%= render :partial => '/installs/list_item' , :locals => { :install => install, :last => last } %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= will_paginate @installs %>
