<h2>Sign Out</h2>

<div class="yui-g">

  <p>Are you sure you want to sign out?</p>

  <% form_for :user_session, :url => user_session_path, :html => { :method => :delete } do |form| %>
    <p>
      <%= submit_tag 'Yes' %>
      <%= submit_tag 'No' %>
    </p>
  <% end %>

</div>